body::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

.news-page {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.news-page .div {
  background-color: var(--bg-color);
  overflow: hidden;
  width: 1920px;
  height: 2969px;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.news-page .rectangle {
  width: 1179px;
  height: 745px;
  top: 110px;
  left: 35px;
  position: absolute;
  object-fit: cover;
}

.news-page .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  position: absolute;
  top: 868px;
  left: 36px;
}

.news-page .text-wrapper {
  position: relative;
  width: 1178px;
  height: 46px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--fonts-nigga);
  font-size: 36px;
  letter-spacing: 0;
  line-height: 54px;
  white-space: nowrap;
}

.news-page .p {
  position: relative;
  width: 919px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--fonts-nigga);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.news-page .text-wrapper-2 {
  width: fit-content;
  color: #8591a3;
  white-space: nowrap;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.news-page .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  position: absolute;
  top: 110px;
  left: 1238px;
}

.news-page .group {
  position: relative;
  width: 648px;
  height: 180px;
}

.news-page .img {
  width: 296px;
  height: 179px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.news-page .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 33px;
  padding: 16px 0px;
  position: absolute;
  top: 1px;
  left: 314px;
}

.news-page .IN-SEASON-TOURNAMENT {
  position: relative;
  width: 332px;
  height: 37px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--fonts-nigga);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.news-page .text-wrapper-3 {
  position: relative;
  width: 334px;
  height: 30px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--fonts-nigga);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.news-page .text-wrapper-4 {
  position: relative;
  width: 334px;
  height: 14px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #8591a3;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.news-page .overlap {
  position: absolute;
  width: 640px;
  height: 405px;
  top: 1150px;
  left: 1246px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.news-page .text-wrapper-5 {
  position: absolute;
  height: 36px;
  top: 36px;
  left: 255px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.news-page .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 39px;
  padding: 40px 0px;
  position: absolute;
  top: 80px;
  left: 0;
}

.news-page .frame-5 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 19px;
  padding: 0px 25px;
  position: relative;
  flex: 0 0 auto;
}

.news-page .overlap-group-wrapper {
  position: relative;
  width: 186px;
  height: 54px;
}

.news-page .overlap-group {
  position: relative;
  width: 184px;
  height: 54px;
  background-color: var(--main-color);
  border-radius: 25px;
}

.news-page .text-wrapper-6 {
  position: absolute;
  width: 160px;
  height: 36px;
  top: 9px;
  left: 11px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
}

.news-page .div-wrapper {
  position: relative;
  width: 184px;
  height: 54px;
  background-color: var(--adds);
  border-radius: 25px;
}

.news-page .text-wrapper-7 {
  position: absolute;
  width: 160px;
  height: 36px;
  top: 9px;
  left: 11px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #525252;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
}

.news-page .overlap-wrapper {
  position: relative;
  width: 186px;
  height: 54px;
  margin-right: -2px;
}

.news-page .group-2 {
  position: absolute;
  width: 1178px;
  height: 298px;
  top: 1150px;
  left: 36px;
  background-color: var(--modal);
  border-radius: 10px;
}

.news-page .rectangle-2 {
  width: 422px;
  height: 298px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.news-page .frame-6 {
  display: flex;
  flex-direction: column;
  width: 756px;
  align-items: flex-start;
  gap: 28px;
  padding: 25px 30px;
  position: absolute;
  top: 0;
  left: 422px;
}

.news-page .text-wrapper-8 {
  position: relative;
  width: 650px;
  height: 60px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--fonts-nigga);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.news-page .div-2 {
  position: relative;
  width: 650px;
  height: 102px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--fonts-nigga);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.news-page .span {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--fonts-nigga);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.news-page .text-wrapper-9 {
  width: 650px;
  height: 30px;
  color: var(--fonts-nigga);
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.news-page .group-3 {
  position: absolute;
  width: 1178px;
  height: 298px;
  top: 1473px;
  left: 35px;
  background-color: var(--modal);
  border-radius: 10px;
}

.news-page .group-4 {
  position: absolute;
  width: 1178px;
  height: 298px;
  top: 1796px;
  left: 36px;
  background-color: var(--modal);
  border-radius: 10px;
}

.news-page .group-5 {
  position: absolute;
  width: 1178px;
  height: 298px;
  top: 2119px;
  left: 36px;
  background-color: var(--modal);
  border-radius: 10px;
}

.news-page .group-6 {
  position: absolute;
  width: 1178px;
  height: 298px;
  top: 2442px;
  left: 36px;
  background-color: var(--modal);
  border-radius: 10px;
}

.news-page .group-7 {
  position: absolute;
  width: 348px;
  height: 87px;
  top: 2802px;
  left: 452px;
}

.news-page .overlap-2 {
  position: relative;
  width: 346px;
  height: 87px;
  background-color: var(--main-color);
  border-radius: 10px;
}

.news-page .text-wrapper-10 {
  position: absolute;
  height: 36px;
  top: 26px;
  left: 110px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.news-page .text-wrapper-11 {
  position: absolute;
  height: 54px;
  top: 1058px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--fonts-nigga);
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 54px;
  white-space: nowrap;
}

.news-page .navbar-wrapper {
  position: fixed;
  width: 1932px;
  height: 75px;
  top: 0;
  left: 0;
  transition: background-color 0.3s, color 0.3s;
}

.news-page .navbar {
  position: relative;
  width: 1920px;
  height: 75px;
  background-color: var(--main-color);
}

.news-page .brand {
  position: absolute;
  width: 199px;
  height: 75px;
  top: 0;
  left: 24px;
}

.news-page .LOGO {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.news-page .text-wrapper-12 {
  position: absolute;
  top: 28px;
  left: 90px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: rgba(227, 227, 227, 1);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.news-page .text-wrapper-13 {
  left: 892px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: rgba(227, 227, 227, 1);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.news-page .text-wrapper-14 {
  left: 1035px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: rgba(227, 227, 227, 1);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.news-page .text-wrapper-15 {
  left: 1640px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: rgba(227, 227, 227, 1);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.news-page .text-wrapper-16 {
  left: 1740px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: rgba(227, 227, 227, 1);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.news-page .text-wrapper-17 {
  left: 747px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: rgba(227, 227, 227, 1);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.news-page .text-wrapper-18 {
  left: 561px;
  position: absolute;
  top: 29px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: rgba(227, 227, 227, 1);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.news-page .search-bar {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 17px;
  left: 1570px;
}

.menu {
  color: var(--fonts);
  transition-duration: 0.2s;
}

.menu:hover {
  color: #a6a6a6;
}

.dark-mode {
  --bg-color: #101010;
  --modal: #454545;
  --main-color: #252525;
  --second: #454545;
  --third: #656565;
  --adds: #bababa;
  /* --fonts: #e9e9e9;
  --fonts-nigga: #252525; */
  --fonts: #252525;
  --fonts-nigga: #e9e9e9;
}

.dark-mode-wrapper {
  position: absolute;
  top: 20px;
  left: 1840px;
  font-family: var(--sub-subtitle-font-family);
  font-weight: var(--sub-subtitle-font-weight);
  color: var(--fonts);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--sub-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.checkbox {
  opacity: 0;
  position: absolute;
}
.fa-moon {
  color: #717171;
}
.fa-sun {
  color: #f39c12;
}
.checkbox-label {
  background-color: rgba(227, 227, 227, 1);
  width: 55px;
  height: 32px;
  border-radius: 50px;
  position: relative;
  padding: 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox-label .ball {
  background: var(--main-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 7px;
  top: 4.5px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.checkbox:checked + .checkbox-label .ball {
  transform: translateX(20px);
}

.modal-title {
  margin-left: 150px;
  color: var(--fonts-nigga);
  font-size: var(--subtitle-font-size);
  letter-spacing: var(--subtitle-reguler-letter-spacing);
  font-family: var(--category-font-family);
}

.modal-body {
  margin-left: 5px;
}

.new-acc {
  text-decoration: none;
  position: relative;
  color: var(--fonts-nigga);
  /* top: 15px; */
  font-family: var(--content-font-family);
  font-weight: var(--content-font-weight);
  color: var(--fonts-nigga);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--content-font-weight-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}

.new-acc:hover {
  color: navy;
}

.btn {
  background-color: var(--third);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 450px;
}

.btn:hover {
  background-color: var(--second);
  color: var(--fonts);
}

.subtitle-text {
  font-family: var(--content-font-family);
  font-weight: var(--content-font-weight);
  color: var(--fonts-nigga);
  font-size: var(--subtitle-font-size);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--content-font-weight-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--subtitle-font-style);
}

.content-text {
  font-family: var(--sub-content-font-family);
  font-weight: var(--sub-content-font-weight);
  color: var(--fonts-nigga);
  font-size: var(--sub-subtitle-font-size);
  letter-spacing: var(--sub-subtitle-letter-spacing);
  line-height: var(--content-font-weight-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--sub-subtitle-font-style);
}
